.wrapper {
    width: 8rem;
    height: 8rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 80%;
    height: 80%;
    border: 5px dashed rgb(203, 128, 171);
    border-radius: 50%;
    animation: rotate360 1s infinite linear;

}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bolder;
}

.letter {
    display: inline-block;
    animation: letter 3s infinite linear;
}


.letter:nth-child(1) {
    animation-delay: 0.1s;
}
.letter:nth-child(2) {
    animation-delay: 0.2s;
}
.letter:nth-child(3) {
    animation-delay: 0.3s;
}
.letter:nth-child(4) {
    animation-delay: 0.4s;
}
.letter:nth-child(5) {
    animation-delay: 0.5s;
}
.letter:nth-child(6) {
    animation-delay: 0.6s;
}
.letter:nth-child(7) {
    animation-delay: 0.7s;
}
.letter:nth-child(8) {
    animation-delay: 0.8s;
}
.letter:nth-child(9) {
    animation-delay: 0.9s;
}
.letter:nth-child(10) {
    animation-delay: 1s;
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg) scale(0.3);
        opacity: 0;
    }
    100%   {
        transform: rotate(360deg) scale(1.1);
        opacity: 1;
    }
}

@keyframes letter {
    0% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


